.container{
    position:relative;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
    padding: -1px;
margin: -10px;
background-color:rgb(251, 252, 253);
display:flex;
}
.logo {
    margin: 1px;
    padding: 10px;
    justify-content:flex-start;
}
.navbar {

}
.navbar-list {
    position: relative;
    list-style: none;
    font-family: 'Crimson Pro', serif;
    font-size: 20px;
    font-weight:bold;
    display:flex;
    justify-content:flex-end;
    
}
.navbar-item {
    color: rgb(64, 36, 128);
    text-align:right;
    padding: 19px;
    justify-content:flex-end  space-evenly;
}
.background-color-blue {
    background: linear-gradient(10deg,rgb(252, 203, 211),rgb(93, 93, 172));
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    padding: 30px;
    margin: -10px;
    justify-content:space-between;
    align-items:center;
    line-height:-30%;
}
.headline {
    font-size: 49px;
    color: white;
    font-family: 'Crimson Pro', serif;
    margin: 27px;
}
.p1 {
    color: white;
    font-size:30px;
    position:relative;
    
}
.button11 {
    color: rgb(95, 189, 165);
    background-color:yellow;
    font-family: 'Crimson Pro', serif;
    font-size: 40px;
    font-weight: bold;
    height:50px;
    width: 250px;
    box-shadow: -10px 10px 20px rgba(0,0,0,0.19);
    border:yellow;
    border-radius: 5px;
    position:relative;
    left: 50px;
    top:19px;
   
}
.img1 {
    
    width:320px;
}

.body{
    font-family: 'Crimson Pro', serif;
    margin: -1px;
    display:flex;
    padding: 20px;
}
.Subject {
    margin: 20px;
    color: rgb(95, 189, 165);
    font-size:45px;
    text-align: center;
    }
.product {
    background-color: rgb(246, 232, 255);  
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    margin:-1px;
    padding:28px;
    gap: 30px;
    justify-content:center;
}
  .box-1 {
    background-color: rgb(252, 248, 248);
    
    width: 270px;
    height: 290px;
    border-radius: 5px;
    box-shadow: -10px 10px 20px rgba(0,0,0,0.19);
  }

  .box-2 {
    background-color: rgb(252, 248, 248);
    width: 270px;
    height: 290px;
    border-radius: 5px;
    box-shadow: -10px 10px 20px rgba(0,0,0,0.19);
  }
  .box-3 {
    background-color: rgb(252, 248, 248);
    width: 270px;
    height: 290px;
    border-radius: 5px;
    box-shadow: -10px 10px 20px rgba(0,0,0,0.19);
  }
.image {
    position: relative;
    top: 20px;
    left:21px;
}
.text {
    font-size:29px;
    font-family: 'Crimson Pro', serif;
    color:rgb(64, 36, 128);
    position: relative;
    top:80px;
    left:85px;
}
.circle {
    height:150px;
    width:150px;
    border: 0px;
    border-radius: 70px;
    background-color: yellow;
    position: relative;
    top:51px;
    left:56px;
}
.groups {
    background-color:white;
    font-family: 'Crimson Pro', serif;
    margin: -1px;
    padding:28px;
}
.group1 {
    position: relative;
    display:flex;
    justify-content: space-evenly;
    flex-direction:row;
    flex-wrap:wrap;
}
.pragraph1 {
    line-height:14px;
    text-align: justify;

}
.subtitle {
    font-size:23px;
    color: rgb(95, 189, 165);
    font-weight: bold;
    text-align: justify;
}
.textt {
    font-size:12px;
    color: rgb(64, 36, 128);
    text-align: justify;
}
.group2 {
    position:relative;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction:row-reverse;
    flex-wrap:wrap;
}
.pragraph2 {
    line-height:14px;
}
.group3{
    position:relative;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction:row;
    flex-wrap:wrap;
}
.pragraph3 {
    line-height:14px;
}
.inform {
    background-color:rgb(38, 20, 88);
    color: white;
    margin: -1px;
    padding:20px; 
    font-family: 'Crimson Pro', serif;
    position: relative;
    display: flex;
    flex-direction:row;
    gap: 50px;
    justify-content:space-evenly;
}
.sec1 {
    font-size:50px;
    font-weight: bold;
    display:flex;
    margin: 39px;
}
.sec2 {
    font-size:20px; 
    margin: 19px;
    padding:10px;
    line-height:19px;
    

}
.textarea1{
    width: 46%;
    height: 40px;
    border-radius: 5px;
}
.textarea2{
    width: 46%;
    height: 40px;
    border-radius: 5px;
}
.textarea3 {
    width: 100%;
    height: 40px;
    border-radius: 5px;
}
.textarea4 {
    width: 100%;
    height: 40px;
    border-radius: 5px;
}
#thumbnail {
    border-radius: 5px;
    width: 100%;
    height: 80px;
    font-family: 'Crimson Pro', serif;
    font-size:20px;
}
.button2 {
    width: 100%;
    height: 40px;
    color:rgb(38, 20, 88);
    font-size:30px;
    background-color:yellow;
    font-family: 'Crimson Pro', serif;
    font-weight: bold;
    box-shadow: -10px 10px 20px rgba(0,0,0,0.19);
    border:yellow;
    border-radius: 5px;
}
.footer {
    position:relative;
    display:flex;
    flex-wrap: wrap;
    font-family: 'Crimson Pro', serif;
    font-size: 15px;
    background-color: rgb(246, 232, 255); 
    line-height:24px;
    justify-content:space-between;
}
.inn{
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    margin:20px;
}
.imagee {
    position:relative;
    height: 130px;
    width:70%;
}
.outt{
    display:flex;
    flex-direction: row;
    justify-content:flex-end;
    flex-wrap:wrap;
    margin: 30px;
}
.Website {
    position:relative;
    font-size:50px;
}
.OurTerms {
position:relative;
    
    
}
.FindUs {
    position:relative;
    }
.subtitlee {
    font-family: 'Crimson Pro', serif;
    font-size: 28px;
    font-weight: bold;
    color: rgb(95, 189, 165);
}
.list {
    list-style: none;
    color:rgb(38, 20, 88);
    font-size:19px;
    gap:10px;
}
.findme-item {
    color:rgb(38, 20, 88);
    float:left;
    
}
.footer1 {
    background: linear-gradient(10deg,rgb(252, 203, 211),rgb(93, 93, 172));
    color:white;
    margin: -1px;
    padding:20px; 
    display: block;
    position: relative;
   text-align:center;
   font-weight:bold;
   font-size:19px;
}
@media (max-width: 775px){
    .navbar, .background-color-blue, .Subject, .product, .groups, .inform, .footer {
    float: none;
    margin: auto;
    }
}
